@media screen and (min-width: 768px) {
  .section {
    padding: 96px 0;
  }
  .container {
    max-width: 768px;
  }

  .hero {
    max-width: 768px;
  }

  .hero-title {
    max-width: 496px;
    font-size: 56px;
  }
}

@media screen and (min-width: 768px) {
  .nav-burger {
    display: none;
  }
}
